<div class="jumbotron mt-4">
    <h1 class="display-4">Node App Demo</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus nam non quia rerum inventore dolores
        corporis temporibus aut reprehenderit odio, reiciendis labore, esse minima veniam. Expedita dolorum corrupti
        ullam
        obcaecati?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione odit cumque assumenda, sed vero voluptatibus.
        Eius
        sit dolore quod voluptas quos, mollitia pariatur quisquam ducimus velit. Vero pariatur voluptas deserunt?</p>
    <a href="#" class="btn btn-primary btn-lg">kenlallemand</a>
</div>